<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="basepath" value="."/>
    <arg name="cache" value="cache/phpcs.cache"/>

    <file>composer-dependency-analyser.php</file>
    <file>coverage-guard.php</file>
    <file>bin/composer-dependency-analyser</file>
    <file>src/</file>
    <file>tests/</file>
    <file>scripts/</file>

    <exclude-pattern>tests/data/*</exclude-pattern>

    <config name="php_version" value="80100"/>
    <config name="testVersion" value="8.1-"/>
    <config name="installed_paths" value="vendor/slevomat/coding-standard,vendor/shipmonk/coding-standard"/>

    <rule ref="ShipMonkCodingStandard">
        <exclude name="Squiz.NamingConventions.ValidVariableName.NotCamelCaps"/><!-- Allows $_ as throwaway variable -->
        <exclude name="SlevomatCodingStandard.Commenting.ForbiddenAnnotations.AnnotationForbidden"/>
    </rule>
</ruleset>
