includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    phpVersion: 80100
    paths:
        - bin/composer-dependency-analyser
        - src
        - tests
        - coverage-guard.php
    excludePaths:
        analyseAndScan:
            - tests/data/not-autoloaded/*
    tmpDir: cache/phpstan/
    reportAnyTypeWideningInVarTag: true
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        checkedExceptionClasses:
            - ShipMonk\ComposerDependencyAnalyser\Exception\RuntimeException

    ignoreErrors:
        -
            message: "#but it's missing from the PHPDoc @throws tag\\.$#" # allow uncatched exceptions in tests
            path: tests/*
