name: E2E
on:
    pull_request:
    workflow_dispatch:

jobs:
    e2e:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    -
                        repo: TomasVotruba/unused-public
                    -
                        repo: VasekPurchart/Console-Errors-Bundle
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: VasekPurchart/Phing-Copy-Files-Task
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: VasekPurchart/Phing-Symfony-Command-Task
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: VasekPurchart/Rabbit-Mq-Consumer-Handler-Bundle
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: VasekPurchart/Tracy-Blue-Screen-Bundle
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: VincentLanglet/Twig-CS-Fixer
                    -
                        repo: alex-kalanis/kw_files
                    -
                        repo: alex-kalanis/kw_paths
                    -
                        repo: alex-kalanis/kw_storage
                    -
                        repo: cdn77/PhpFunctions
                    -
                        repo: cdn77/RabbitMQBundle
                    -
                        repo: consistence/consistence
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: consistence/consistence-doctrine
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: consistence/consistence-doctrine-symfony
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: consistence/consistence-jms-serializer
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: consistence/consistence-jms-serializer-symfony
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: consistence/consistence-robot-loader-class-finder
                        cdaArgs: --config=build/composer-dependency-analyser.config.php
                    -
                        repo: contao/contao
                        cdaArgs: --disable-ext-analysis --config=depcheck.php
                    -
                        repo: idleberg/php-vite-manifest
                        cdaArgs: --disable-ext-analysis
                    -
                        repo: idleberg/php-wordpress-vite-assets
                    -
                        repo: inspirum/arrayable-php
                    -
                        repo: inspirum/balikobot-php
                        cdaArgs: --disable-ext-analysis
                    -
                        repo: inspirum/balikobot-php-symfony
                    -
                        repo: inspirum/xml-php
                        cdaArgs: --disable-ext-analysis
                    -
                        repo: kreait/firebase-php
                    -
                        repo: mimmi20/ios-build
                    -
                        repo: mimmi20/laminas-form-element-group
                    -
                        repo: mimmi20/laminas-form-element-links
                    -
                        repo: mimmi20/laminas-form-element-paragraph
                    -
                        repo: mimmi20/laminas-module-errorhandling
                    -
                        repo: mimmi20/laminas-router-hostname
                    -
                        repo: mimmi20/laminasviewrenderer-bootstrap-form
                    -
                        repo: mimmi20/laminasviewrenderer-flash-message
                    -
                        repo: mimmi20/laminasviewrenderer-helper-htmlelement
                    -
                        repo: mimmi20/laminasviewrenderer-helper-partialrenderer
                    -
                        repo: mimmi20/laminasviewrenderer-js-log
                    -
                        repo: mimmi20/laminasviewrenderer-revision
                    -
                        repo: mimmi20/laminasviewrenderer-vite-url
                    -
                        repo: mimmi20/macos-build
                    -
                        repo: mimmi20/mezzio-generic-authorization
                    -
                        repo: mimmi20/mezzio-generic-authorization-acl
                    -
                        repo: mimmi20/mezzio-navigation
                    -
                        repo: mimmi20/mezzio-navigation-laminasviewrenderer
                    -
                        repo: mimmi20/mezzio-navigation-laminasviewrenderer-bootstrap
                    -
                        repo: mimmi20/mezzio-router-laminasrouter-factory
                    -
                        repo: mimmi20/mezzio-setlocale-middleware
                    -
                        repo: mimmi20/monolog-callbackfilterhandler
                    -
                        repo: mimmi20/monolog-streamformatter
                    -
                        repo: mimmi20/navigation-helper-acceptpage
                    -
                        repo: mimmi20/navigation-helper-containerparser
                    -
                        repo: mimmi20/navigation-helper-converttopages
                    -
                        repo: mimmi20/navigation-helper-findactive
                    -
                        repo: mimmi20/navigation-helper-findfromproperty
                    -
                        repo: mimmi20/navigation-helper-findroot
                    -
                        repo: mimmi20/navigation-helper-htmlify
                    -
                        repo: numero2/contao-opengraph3
                        cdaArgs: --config=depcheck.php
                    -
                        repo: phpstan/phpstan-src
                        cdaArgs: --disable-ext-analysis --config=build/composer-dependency-analyser.php
                        php: 8.5
                    -
                        repo: qossmic/deptrac-src
                    -
                        repo: rectorphp/rector-src
                    -
                        repo: rectorphp/swiss-knife
                    -
                        repo: sensiolabs/GotenbergBundle
                    -
                        repo: shapecode/cron-bundle
                    -
                        repo: shipmonk-rnd/dead-code-detector
                    -
                        repo: shipmonk-rnd/doctrine-entity-preloader
                    -
                        repo: shipmonk-rnd/doctrine-hint-driven-sql-walker
                    -
                        repo: shipmonk-rnd/doctrine-mysql-index-hints
                    -
                        repo: shipmonk-rnd/doctrine-mysql-optimizer-hints
                    -
                        repo: shipmonk-rnd/doctrine-two-phase-migrations
                    -
                        repo: shipmonk-rnd/input-mapper
                    -
                        repo: shipmonk-rnd/name-collision-detector
                    -
                        repo: shipmonk-rnd/phpstan-baseline-per-identifier
                    -
                        repo: shipmonk-rnd/phpstan-rules
                    -
                        repo: symplify/config-transformer
                    -
                        repo: wallabag/wallabag
                        cdaArgs: --disable-ext-analysis
            fail-fast: false
        steps:
            -
                name: Install jq
                run: sudo apt install jq

            -
                name: Checkout code
                uses: actions/checkout@v6
                with:
                    path: analyser

            -
                name: Clone ${{ matrix.repo }}
                uses: actions/checkout@v6
                with:
                    path: ${{ matrix.repo }}
                    repository: ${{ matrix.repo }}

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php || '8.3' }}
                    ini-file: development

            -
                name: List enabled extensions
                run: php -m

            -
                name: Disable autoloader prepend
                working-directory: ${{ matrix.repo }}
                run: |
                    echo "$(jq --indent 4 '.config += {"prepend-autoloader": false}' composer.json)" > composer.json

            -
                name: Install ${{ matrix.repo }} dependencies
                working-directory: ${{ matrix.repo }}
                run: composer install --no-progress --no-interaction --ignore-platform-reqs ${{ matrix.composerArgs }}

            -
                name: Run analyser
                working-directory: ${{ matrix.repo }}
                run: php ../../analyser/bin/composer-dependency-analyser --show-all-usages ${{ matrix.cdaArgs }}
