name: E2E
on:
    pull_request:

jobs:
    e2e:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    -
                        repo: phpstan/phpstan-src
                        name: phpstan
                        args: --config=build/composer-dependency-analyser.php
                    -
                        repo: shipmonk-rnd/phpstan-rules
                        name: shipmonk-rules
                        args: ''
                    -
                        repo: qossmic/deptrac-src
                        name: deptrac
                        args: ''
                    -
                        repo: kreait/firebase-php
                        name: firebase
                        args: ''
            fail-fast: false
        steps:
            -
                name: Checkout code
                uses: actions/checkout@v4
                with:
                    path: analyser

            -
                name: Clone ${{ matrix.repo }}
                uses: actions/checkout@v4
                with:
                    path: ${{ matrix.name }}
                    repository: ${{ matrix.repo }}

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3

            -
                name: Install analyser dependencies
                working-directory: analyser
                run: composer install --no-progress --prefer-dist --no-interaction

            -
                name: Install ${{ matrix.name }} dependencies
                working-directory: ${{ matrix.name }}
                run: composer install --no-progress --prefer-dist --no-interaction

            -
                name: Run analyser
                working-directory: ${{ matrix.name }}
                run: php ../analyser/bin/composer-dependency-analyser ${{ matrix.args }}
